<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#050076'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF0984'"
        [innerStrokeColor]="'#89F4BB'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'CSS'"
        [titleColor]="'#050076'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF0984'"
        [innerStrokeColor]="'#89F4BB'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'JAVA'"
        [titleColor]="'#050076'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FF0984'"
        [innerStrokeColor]="'#89F4BB'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'INGLÉS'"
        [titleColor]="'#050076'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AC48FF'"
        [innerStrokeColor]="'#02FFFF'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [title]="'CHINO'"
        [titleColor]="'#050076'"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#AC48FF'"
        [innerStrokeColor]="'#02FFFF'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
    </div>
</div>

