<div class="row" id="header">
    <div class="col-sm-12 col-md-9 col-lg-9" id="logoAP">
        <img src="/assets/APLogo-20-20.png" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-2 col-lg-2" id="redes">
        <a href=""><img src="/assets/logo-facebook.svg" class="img-fluid"></a>
        <a href=""><img src="/assets/logo-github.svg" class="img-fluid"></a>
        <a href=""><img src="/assets/logo-instagram.svg" class="img-fluid"></a>
        <a href=""><img src="/assets/logo-linkedin.svg" class="img-fluid"></a>
        <a href=""><img src="/assets/logo-twitter.svg" class="img-fluid"></a>
    </div>
    <div class="col-sm-12 col-md-1 col-lg-1" id="ingresar">
        <a href="/login">
        <button type="button" class="btn btn-dark">INGRESAR</button></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" id="banner">
       <video  autoplay muted loop>
        <source src="/assets/banner.mp4" type="video/mp4">
       </video>
    </div>
</div>


