#header div {
    background-color: #2391ff;
    height: 100px
}

#logoAP{
    display:flex;
    align-items:center;
}

#logoAP img{
    width:150px;
}

#redes{
    display:flex;
    justify-content:right;
    align-items:center;
}

#redes img{
    width:50px;
}
#redes :hover{
    width:70px;
}

#ingresar{
    display:flex;
    justify-content:center;
    align-items:center; 
}

@media (max-width:769px){
    #redes{
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

#banner video{
    display:flex;
    width: 100%;
    object-fit: cover;
}
