<div class="row">
<h1>Proyectos</h1>
<div class="col-sm-12 col-md-6 col-lg-6">
    <h1>Mi Portfolio</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ab unde qui, eum amet eveniet sint ducimus nam doloribus aperiam, repudiandae minima blanditiis maxime nulla eligendi tenetur ratione voluptate.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem ab unde qui, eum amet eveniet sint ducimus nam doloribus aperiam, repudiandae minima blanditiis maxime nulla eligendi tenetur ratione voluptate.
    </p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1" id="portada">
    <img src="/assets/portada.jpg" class="img-fluid">
</div>
</div>